.articleContent a {
  color: #00af9f !important;
  text-decoration:none;
  cursor: pointer;
}

.articleContent a span {
  color: #00af9f !important;
  text-decoration:none;
  cursor: pointer;
}

.articleContent {
  font-family: proxima_novaRegular;
  font-size: 17px;
  line-height: 1.5;
  color: #6c717a;
  margin-bottom: 100px;
}

.articleContent div > p {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.articleContent .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
  .articleContent .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

.articleContent .alignnone {
  width: calc(100% + 60px) !important;
  margin-left: -30px;
  margin-right: -30px;
}

.articleContent .alignright {
  float: right;
}

.articleContent .alignleft {
  float: left;
}

.articleContent img {
  width: 100% !important;
  height: auto !important;
}

.articleContent ul {
  padding: 0px !important;
  margin-left: 60px;
  margin-right: 30px;
  font-family: proxima_novaRegular;
  font-size: inherit;
  line-height: inherit;
  color: #6c717a;
}
  .articleContent ul > li {
    margin-top: 10px;
  }

.articleContent figcaption {
  padding-left: 23px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.15;
  color: #4a4a4a;
  font-family: proxima_novaSemibold;
  border-left: thick solid #00af9f;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleContent h1, h2, h3, h4, h5, h6 {
  margin-left: 30px;
  margin-right: 30px;
  clear: both;
  overflow: hidden;
  text-overflow: ellipsis;
} 

@media only screen and (max-width: 767px) {
  .articleContent .alignright, .alignleft {
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100% !important;
    box-sizing: border-box;
  }
}

@media print {
  .printableContainer {
      background-color: white;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0px;
      padding: 15px;
      z-index: 99999999999999;
      overflow: visible;
  }

  .printableContainer .featuredImageArticleDetails {
    display: none;
  }
  .museconnectHeader {
    display: none;
  }
}