$teal: #00af9f;
$lightTeal: #26bbae;
$darkCyan: #00ACC1;
$cyan: #52bdec;
$lightCyan: #7bcef3;
$lightestCyan: #d5f0ec;
$background: #f8f8f8;
$black: #000000;
$white: #ffffff;
$darkGrey: #4a4a4a;
$mediumGrey: #7d7d7d;
$lightGrey: #d8d8d8;
$lightestGrey: #eeeeee;
$purple: #7482bf;
$lightPurple: #97a1d1;
$orange: #ea7f1e;
$lightOrange: #f2a04f;
$yellow: #fed17b;
$lightYellow: #ffde98;
$pink: #f9b5a6;
$lightPink: #fcc8bc;
$green: #367c2b;
$lightGreen: #679e5d;
$red: #ee3124;
