@import '../../styles/variables/breakpoints.scss';

.dropDownSideBarDashboard button svg {
  width: 18px !important;
  height: 18px !important;
}

.tutorialSideBarDashboard {
  position: absolute;
  left: 100px;
  bottom: 0;
}
