@import '../../../styles/variables/breakpoints';

.title {
  height: 46px;
  cursor: pointer;
  margin-left: -60px;
  margin-top: 10px;
  @media only screen and (max-width: $break-point-xs) {
    margin-left: -10px;
  }
}
